{% extends 'base.html' %}

{% block body %}
<div class="container">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Sr. No.</th>
            <th scope="col">Profile Picture</th>
            <th scope="col">First Name</th>
            <th>Action</th>

        </tr>
      </thead>
      <tbody>
        {% for i in data %}
            <tr>

              <th scope="row">{{ forloop.counter }}</th>
                <td scope="row">{{ i.name }}</td>
                <td scope="row">{{ i.mobile_no}}</td>
              <td scope="row"><a href="{% url 'demoapp:details' i.id %}" class="btn btn-sm btn-primary">details</a> <a href="{% url 'demoapp:delete' i.id %}" class="btn btn-sm btn-primary">delete</a> <a href="{% url 'demoapp:update_demo' i.id %}" class="btn btn-sm btn-primary">Update</a></td>

            </tr>
        {% endfor %}


      </tbody>
    </table>
    </div>
{% endblock %}